*~
*.swp
*.swo
.DS_Store
*#
.#*
**/CVS/


# Ignore possible symlinked build and install directories
# Note: we can't use a / at the end because they might be
# symlink to a directory
build*
install*

# If you build with spack libraries, you can get spack log files
spack*.log

.gitignore
resources/
python/test.py
python/amsua_metop-b.20260125T150000Z.nc4
python/x0050.diag_amsua_n19.20230801_00z.ods
python/ioda_prs.binned.py